# Database (auto-filled with Supabase credentials)
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=db.lycdbhkkexzeqammrqaw.supabase.co
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=postgres
DB_POSTGRESDB_USER=postgres
DB_POSTGRESDB_PASSWORD=Munees@2004

# Auth (change these!)
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=Munees@n8n

# n8n Config
WEBHOOK_URL=https://n8n-m45f.onrender.com
GENERIC_TIMEZONE=Asia/Kolkata
N8N_PORT=5678
N8N_PROTOCOL=https
NODE_ENV=production
